<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xiaobaiyun.mynotebook.mapper.TypeMapper">

<!-- int addNew(TypeAddNewDTO typeAddNewDTO);-->
    <insert id="addNew" keyProperty="id" useGeneratedKeys="true">
        insert into type(user_id, typename, parend_id) values (
                                 #{userId},#{typename},#{parendId}
                                 )
    </insert>

    <select id="listByParendId" resultMap="listTypeResultMap">
        SELECT id,typename from type where parend_id=#{parendId} AND user_id=#{userId}
    </select>

    <select id="typeQueryByIdAndUserId" resultType="java.lang.Long">
        select parend_id from type where id=#{id} And user_id=#{userId}
    </select>

    <resultMap id="listTypeResultMap" type="xiaobaiyun.mynotebook.pojo.vo.TypeListVO">
        <id column="id" property="id"/>
        <result column="typename" property="typename"/>
    </resultMap>
</mapper>
