<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xiaobaiyun.mynotebook.mapper.UserMapper">



    <select id="loginByUsername" resultMap="loginResultMap">
SELECT id, username, password,nickname,enable
FROM user
WHERE username=#{username}
    </select>



    <resultMap id="loginResultMap" type="xiaobaiyun.mynotebook.pojo.vo.UserLoginVO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="enable"   property="enable"/>
    </resultMap>
</mapper>
